@charset "UTF-8";
/* easeOutExpo */
/* easeInOutExpo */
/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* –––––––––––––––––––––––––––––––––––––––––––

HELPERS

––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-v {
  display: flex;
  align-items: center;
}

.flex-h {
  display: flex;
  justify-content: center;
}

.flex-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-right {
  display: flex;
  align-content: flex-end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.col-1-2 {
  width: calc(50% - 10px);
  float: left;
  margin-right: 20px;
}
.col-1-2:last-child {
  margin-right: 0;
}
.col-1-2 img {
  display: block;
  width: 100%;
  height: auto;
}
.col-1-2.align-right {
  float: right;
}

.col-1-3 {
  width: 33.333333%;
  float: left;
}
.col-1-3 img {
  display: block;
  width: 100%;
  height: auto;
}

.col-1-5 {
  width: 19.2%;
  float: left;
  margin-right: 1%;
}
.col-1-5:last-child {
  margin-right: 0;
}
.col-1-5 img {
  display: block;
  width: 100%;
  height: auto;
}

.col-1-6 {
  width: 15.8333333%;
  float: left;
  margin-right: 1%;
}
.col-1-6:last-child {
  margin-right: 0;
}
.col-1-6 img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.container-large {
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.container-tiny {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.container-med {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.container-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

main {
  overflow-x: hidden;
}

section.section {
  position: relative;
  padding: 120px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
section.section:first-of-type {
  border-top: none;
}
section.section.dark {
  background: #172638;
}

section.section-group {
  margin-top: 20px;
}
section.section-group:first-child {
  margin-top: 0;
}
section.section-group h4 {
  margin-bottom: 20px;
}
section.section-group h4.section-group_heading {
  margin-bottom: 5px;
}
section.section-group p {
  margin-bottom: 20px;
}
section.section-group p:last-child {
  margin-bottom: 0;
}

.section-heading {
  margin-bottom: 60px;
}
.section-heading h2, .section-heading h3 {
  color: #111;
}
.section-heading.dark .section-label {
  color: rgba(255, 255, 255, 0.4);
}
.section-heading.dark .section-label:before {
  background: rgba(255, 255, 255, 0.4);
}
.section-heading.dark h3 {
  color: white;
}
.section-heading .section-label {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-indent: 40px;
  margin-bottom: 15px;
  color: #888;
}
.section-heading .section-label:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  top: 50%;
  left: 0;
  background: #888;
}

.center_content {
  text-align: center;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* –––––––––––––––––––––––––––––––––––––––––––

TYPOGRAPHY

––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, strong {
  font-weight: 700;
}

h2 {
  font-size: 70px;
  line-height: 1.1;
  letter-spacing: -2px;
}

h3 {
  font-size: 55px;
  line-height: 1.1;
  letter-spacing: -1px;
}

h4 {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0px;
}

p {
  font-size: 17px;
  line-height: 1.6;
}

.p-group p {
  margin-top: 20px;
}
.p-group p:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/* –––––––––––––––––––––––––––––––––––––––––

GLOBAL STYLES

––––––––––––––––––––––––––––––––––––––––– */
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
  color: #111;
  background: white;
}
html.no-scroll, body.no-scroll {
  overflow: hidden;
}

/* –––––––––––––––––––––––––––––––––––––––

HEADER

–––––––––––––––––––––––––––––––––––––––– */
header {
  z-index: 9999;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}
header.hide {
  -moz-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  -webkit-transform: translateY(-80px);
  transform: translateY(-80px);
}
header .container-large {
  height: 80px;
}
header #nav {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 80px;
  text-align: right;
}
header #nav ul {
  height: 100%;
}
header #nav li {
  position: relative;
  display: inline-block;
  margin-right: 50px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.25px;
  cursor: pointer;
}
header #nav li:last-child {
  margin-right: 0;
}
header #nav li a {
  color: #111;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
header #nav li a:hover {
  color: #cf3d3d;
}
header #nav li.active a, header #nav li.clicked a {
  color: #cf3d3d;
}
header #nav li.logo-header {
  position: absolute;
  top: 0;
  left: 0;
}
header #nav li.logo-header img {
  display: block;
  margin-top: 20px;
}
header #nav li button.menu-btn {
  margin-right: 0;
  cursor: pointer;
  position: relative;
  height: 80px;
  width: 140px;
  text-align: center;
  background: #cf3d3d;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.25px;
  color: white;
  border: none;
  -webkit-appearance: none;
  -webkit-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
header #nav li button.menu-btn:focus {
  outline: none;
}
header #nav li button.menu-btn:hover .menu-btn-bg {
  background: #c23030;
}
header #mobile-nav {
  display: none;
  width: 100%;
  height: 80px;
}
header #mobile-nav ul {
  height: 100%;
}
header #mobile-nav li {
  position: relative;
  display: inline-block;
  height: 80px;
  font-size: 18px;
  line-height: 80px;
  font-weight: 500;
  color: #111;
  letter-spacing: -0.25px;
  cursor: pointer;
}
header #mobile-nav li a {
  color: #111;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
header #mobile-nav li a:hover {
  color: #111;
}
header #mobile-nav li.active a, header #mobile-nav li.clicked a {
  color: #111;
}
header #mobile-nav .logo-header {
  margin-top: 22px;
}

button.menu-btn_tiny {
  margin-right: 0;
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 70px;
  text-align: center;
  background: #cf3d3d;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: -0.15px;
  color: white;
  border: none;
  -webkit-appearance: none;
  -webkit-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
button.menu-btn_tiny:focus {
  outline: none;
}
button.menu-btn_tiny:hover .menu-btn-bg {
  background: #c23030;
}

/* –––––––––––––––––––––––––––––––––––––––

ABOUT

–––––––––––––––––––––––––––––––––––––––– */
.about.section .section-heading {
  border-bottom: 1px solid #ddd;
  padding-bottom: 60px;
}
.about.section .col-1-2:first-child {
  padding-right: 30px;
}
.about.section .col-1-2:last-child {
  margin-top: 5px;
}

.process {
  position: relative;
  width: 420px;
  height: 340px;
  margin: 14px auto 0 auto;
}
.process img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.process .process-thumb {
  position: absolute;
  background: #172638;
}
.process .process-thumb:nth-child(1) {
  top: 0;
  left: 60px;
}
.process .process-thumb:nth-child(2) {
  top: 20px;
  right: 0;
}
.process .process-thumb:nth-child(3) {
  bottom: 60px;
  left: -70px;
}
.process .process-thumb:nth-child(4) {
  bottom: 0;
  right: 100px;
}

/* –––––––––––––––––––––––––––––––––––––––

WORK

–––––––––––––––––––––––––––––––––––––––– */
.work {
  position: relative;
  width: 100%;
  background: #111;
  color: white;
  border-color: rgba(255, 255, 255, 0.1);
}
.work .col-1-2 {
  position: relative;
}
.work .work-copy {
  width: 35%;
  margin-right: 6%;
}
.work .work-slider {
  width: 65%;
  background: #111;
}
.work .work-slider .work-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.work .work-slider .work-slide.is-selected img {
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.work .work-slider .work-slide.is-selected .work-slide_label {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.work .work-slide_image {
  overflow: hidden;
}
.work .work-slide_label {
  z-index: 2;
  position: absolute;
  bottom: 40px;
  left: 40px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translateY(40px);
  -o-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.work .work-slide_label h4 {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.work .work-slide_label.light h4 {
  color: rgba(0, 0, 0, 0.6);
}
.work video, .work img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  -webkit-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
}

/* –––––––––––––––––––––––––––––––––––––––

OUR STORY

–––––––––––––––––––––––––––––––––––––––– */
.our-story .section-heading {
  margin-bottom: 90px;
}
.our-story .col-1-2:first-child {
  padding-right: 30px;
}
.our-story .history-group {
  position: relative;
  margin-bottom: 100px;
}
.our-story .history-group .thumb {
  z-index: 0;
  position: relative;
  margin-right: 20px;
}
.our-story .history-group .thumb:nth-child(1) {
  margin-top: -20px;
}
.our-story .history-group .thumb:nth-child(2) {
  z-index: 2;
  width: 10%;
  position: absolute;
  bottom: 10%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20%;
}
.our-story .history-group .thumb:nth-child(4) {
  z-index: 2;
  width: 15%;
  position: absolute;
  bottom: -20px;
  right: 17%;
}
.our-story .history-group .thumb:nth-child(5) {
  margin-top: -20px;
}
.our-story .history-group .thumb:nth-child(6) {
  margin-top: 7%;
  margin-right: 0;
}
.our-story .history-group .thumb img {
  display: block;
  width: 100%;
  height: auto;
}
.our-story .history-group .history-timeline {
  z-index: 4;
  position: absolute;
  bottom: 20%;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}
.our-story .history-group .history-timeline .beginning {
  position: absolute;
  left: -45px;
  font-size: 14px;
  font-weight: 500;
  color: #888;
}
.our-story .history-group .history-timeline .end {
  position: absolute;
  right: -45px;
  font-size: 14px;
  font-weight: 500;
  color: #888;
}
.our-story .history-group .history-timeline .time-markers {
  width: 100%;
}
.our-story .history-group .history-timeline .time-markers span {
  display: block;
  width: 1px;
  height: 11px;
  background: #aaa;
}

/* –––––––––––––––––––––––––––––––––––––––

FOOTER

–––––––––––––––––––––––––––––––––––––––– */
footer {
  position: relative;
  height: 100vh;
  background-color: #172638;
  color: white;
}
footer .footer-wrap {
  width: 100%;
  margin-top: 60px;
}
footer a {
  color: white;
}
footer h2 {
  font-size: 70px;
  line-height: 1.2;
  letter-spacing: min(max(0px, 4vw), -2px);
  margin-bottom: 60px;
  color: white;
}
footer h5 {
  text-transform: uppercase;
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
  font-weight: 500;
}
footer li, footer span {
  display: block;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 10px;
}
footer .copyright {
  position: absolute;
  width: 100%;
  bottom: 30px;
}
footer .copyright span {
  font-size: 14px;
  color: #888;
}

@media (max-width: 1440px) {
  .container-large {
    max-width: 100%;
  }

  .logo-header {
    margin-left: 20px;
  }
}
@media (max-width: 1320px) {
  .container {
    max-width: 1280px;
  }

  h2 {
    font-size: 60px;
    letter-spacing: -1.5px;
  }

  section.section {
    padding: 120px 20px;
  }

  footer h2 {
    font-size: 55px;
    letter-spacing: -1px;
  }
  footer li, footer span {
    font-size: 18px;
    margin-bottom: 8px;
  }
}
@media (max-width: 1280px) {
  .container, .container-med {
    max-width: 960px;
  }

  .container-small {
    max-width: 800px;
  }

  .container-tiny {
    max-width: 600px;
  }

  h2 {
    font-size: 50px;
    letter-spacing: -1px;
  }

  h3 {
    font-size: 45px;
    letter-spacing: -0.75px;
  }

  h4 {
    font-size: 18px;
    letter-spacing: 0px;
  }

  .about-content .col-1-2:first-child {
    padding-right: 30px;
  }

  .section-heading {
    margin-bottom: 40px;
  }
  .section-heading.dark .section-label {
    color: rgba(255, 255, 255, 0.4);
  }
  .section-heading.dark .section-label:before {
    background: rgba(255, 255, 255, 0.4);
  }

  section.section-group {
    margin-top: 30px;
  }
  section.section-group:first-child {
    margin-top: 0;
  }
  section.section-group h4.section-group_heading {
    margin-bottom: 15px;
  }
  section.section-group p {
    margin-bottom: 15px;
  }
  section.section-group p:last-child {
    margin-bottom: 0;
  }

  .work-slide_label {
    bottom: 30px;
    left: 30px;
  }

  .about.section .section-heading {
    padding-bottom: 40px;
  }
}
@media (max-width: 1120px) {
  section.section {
    padding: 90px 20px;
  }

  .about.section .container-med {
    max-width: 600px;
  }
  .about.section .section-heading h3 {
    max-width: 400px;
    margin-bottom: 40px;
  }
  .about.section .col-1-2 {
    width: 100%;
    float: none;
  }
  .about.section .col-1-2:first-child {
    padding-right: 0;
  }
  .about.section .col-1-2:last-child {
    margin-top: 0;
  }

  .process {
    width: 420px;
    height: 340px;
    margin: 5px auto 40px auto;
  }
}
@media (max-width: 800px) {
  section.section {
    padding: 60px 20px;
  }

  header #nav li {
    display: none;
  }
  header #nav li:first-child, header #nav li:last-child {
    display: block;
  }
}
@media (max-width: 600px) {
  .container, .container-tiny, .container-small, .container-large, .container-form {
    padding: 0 15px;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  p {
    font-size: 17px;
  }

  section {
    padding: 0;
  }

  .all-services {
    margin-top: 40px;
  }
  .all-services .all-services_items {
    display: block;
  }
  .all-services .all-services_items ul {
    list-style: none;
    margin-bottom: 15px;
  }
  .all-services .all-services_items ul:last-of-type {
    margin-bottom: 0;
  }
  .all-services .all-services_items ul li {
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .all-services .all-services_items ul li:last-child {
    margin-bottom: 0;
  }

  .team {
    padding: 60px 0;
  }
  .team .team-members {
    margin-top: 30px;
  }
  .team .col-1-6 {
    width: 48%;
    margin: 2% 1%;
  }
  .team .col-1-6:last-child {
    margin: 2% 1%;
  }
  .team .team-member_info {
    margin-top: 6px;
  }
  .team .team-member_info span {
    font-size: 18px;
  }
  .team .team-member_info .title {
    font-size: 14px;
  }

  .work {
    height: auto;
    background: #111;
    color: white;
    border-color: rgba(255, 255, 255, 0.1);
  }
  .work .work-section, .work .container {
    display: block;
  }
  .work .col-1-2 {
    float: none;
  }
  .work .work-copy {
    width: 100%;
    margin-right: 0;
  }
  .work .work-copy h3 {
    text-align: center;
  }
  .work .work-slider {
    width: 100%;
    background: #111;
    margin-top: 50px;
  }
  .work .work-slide_label {
    font-size: 16px;
    margin-top: 15px;
  }

  footer {
    display: block;
    height: auto;
    color: white;
    text-align: center;
  }
  footer .footer-wrap {
    width: 100%;
    margin-top: 0;
    padding: 90px 0 120px 0;
  }
  footer .footer-nav {
    display: block;
  }
  footer .footer-nav div {
    margin-top: 30px;
  }
  footer h2 {
    font-size: 35px;
    letter-spacing: -1.5px;
    margin-bottom: 40px;
  }
  footer h5 {
    margin-bottom: 10px;
  }
  footer li, footer span {
    font-size: 18px;
    margin-bottom: 3px;
  }
}
/* ––––––––––––––––––––––––––––––––––––––––

HTA MENU

–––––––––––––––––––––––––––––––––––––––– */
#hta-menu {
  z-index: 888;
  position: fixed;
  top: 0;
  right: 0;
  background: #172638;
  width: 100%;
  height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  will-change: transform;
}
#hta-menu.open {
  height: 100vh;
}
#hta-menu.open .hta-menu_close-btn {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
#hta-menu.open .logo-form {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
#hta-menu .logo-form {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
#hta-menu .hta-menu_close-btn {
  z-index: 2;
  position: absolute;
  top: 15px;
  right: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
#hta-menu .hta-menu_close-btn span {
  display: block;
  color: #888;
  font-size: 60px;
  font-weight: 300;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
#hta-menu .hta-menu_close-btn span:hover {
  color: white;
}
#hta-menu .nav-wrap {
  z-index: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
#hta-menu nav {
  display: none;
  width: 100%;
  text-align: center;
}
#hta-menu nav.active {
  display: block;
}
#hta-menu nav.active div {
  animation-name: navIn;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
#hta-menu nav.active div:nth-child(1) {
  animation-delay: 72ms;
}
#hta-menu nav.active div:nth-child(2) {
  animation-delay: 144ms;
}
#hta-menu nav.active div:nth-child(3) {
  animation-delay: 216ms;
}
#hta-menu nav.active div:nth-child(4) {
  animation-delay: 288ms;
}
#hta-menu nav.active div:nth-child(5) {
  animation-delay: 360ms;
}
#hta-menu nav.active div:nth-child(6) {
  animation-delay: 432ms;
}
#hta-menu nav.active div:nth-child(7) {
  animation-delay: 504ms;
}
#hta-menu nav.active div:nth-child(8) {
  animation-delay: 576ms;
}
#hta-menu nav.active div:nth-child(9) {
  animation-delay: 648ms;
}
#hta-menu nav.active div:nth-child(10) {
  animation-delay: 720ms;
}
#hta-menu nav.active div:nth-child(11) {
  animation-delay: 792ms;
}
#hta-menu nav.active div:nth-child(12) {
  animation-delay: 864ms;
}
#hta-menu nav.active div:nth-child(13) {
  animation-delay: 936ms;
}
#hta-menu nav.active div:nth-child(14) {
  animation-delay: 1008ms;
}
#hta-menu nav.active div:nth-child(15) {
  animation-delay: 1080ms;
}
#hta-menu nav.active div:nth-child(16) {
  animation-delay: 1152ms;
}
#hta-menu nav.active div:nth-child(17) {
  animation-delay: 1224ms;
}
#hta-menu nav.active div:nth-child(18) {
  animation-delay: 1296ms;
}
#hta-menu nav.active div:nth-child(19) {
  animation-delay: 1368ms;
}
#hta-menu nav.active div:nth-child(20) {
  animation-delay: 1440ms;
}
#hta-menu nav .nav-item {
  position: relative;
  display: block;
  margin: 10px 0;
  cursor: pointer;
  will-change: transform;
}
#hta-menu nav h3 {
  font-size: min(max(40px, 4vw), 60px);
  line-height: 1.2;
  letter-spacing: min(max(0px, 4vw), -2px);
  margin-bottom: 60px;
  color: white;
}
#hta-menu nav p {
  font-size: 20px;
}

@keyframes navIn {
  0% {
    opacity: 0;
    -moz-transform: translateY(200px) rotate(0.01deg);
    -o-transform: translateY(200px) rotate(0.01deg);
    -ms-transform: translateY(200px) rotate(0.01deg);
    -webkit-transform: translateY(200px) rotate(0.01deg);
    transform: translateY(200px) rotate(0.01deg);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0) rotate(0.01deg);
    -o-transform: translateY(0) rotate(0.01deg);
    -ms-transform: translateY(0) rotate(0.01deg);
    -webkit-transform: translateY(0) rotate(0.01deg);
    transform: translateY(0) rotate(0.01deg);
  }
}
form {
  margin-top: 40px;
}
form .field, form .fields {
  margin-top: 2%;
}
form .col-1-2 {
  width: 49%;
  margin-right: 2%;
}
form .col-1-2:last-child {
  margin-right: 0;
}
form input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 6px;
  background: #ddd;
  font-size: 18px;
  -webkit-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
form input:focus {
  background: white;
  outline: none;
}
form textarea {
  display: block;
  width: 100%;
  height: 150px;
  resize: none;
  padding: 20px;
  border: none;
  border-radius: 6px;
  background: #ddd;
  font-size: 18px;
  -webkit-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
form textarea:focus {
  background: white;
  outline: none;
}
form button.btn-primary {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  margin-top: 30px;
  border: none;
  background: #cf3d3d;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.75px;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
form button.btn-primary:hover {
  background: #c23030;
}
form button.btn-primary:focus {
  outline: none;
}
form input, form textarea {
  font-family: "Roboto";
}
form input ::-webkit-input-placeholder, form textarea ::-webkit-input-placeholder {
  color: #444;
}
form input ::-moz-placeholder, form textarea ::-moz-placeholder {
  color: #444;
}
form input :-ms-input-placeholder, form textarea :-ms-input-placeholder {
  color: #444;
}
form input :-moz-placeholder, form textarea :-moz-placeholder {
  color: #444;
}

#hta-thank-you {
  z-index: 0;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
}
#hta-thank-you h2, #hta-thank-you h3 {
  font-size: min(max(30px, 4vw), 50px);
  line-height: 1.2;
  letter-spacing: min(max(0px, 4vw), -2px);
  margin-bottom: 0;
}
#hta-thank-you.active {
  display: flex;
}
#hta-thank-you.active h2, #hta-thank-you.active h3 {
  animation-name: navIn;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
#hta-thank-you.active h2:nth-child(1), #hta-thank-you.active h3:nth-child(1) {
  animation-delay: 72ms;
}
#hta-thank-you.active h2:nth-child(2), #hta-thank-you.active h3:nth-child(2) {
  animation-delay: 144ms;
}
#hta-thank-you.active h2:nth-child(3), #hta-thank-you.active h3:nth-child(3) {
  animation-delay: 216ms;
}
#hta-thank-you.active h2:nth-child(4), #hta-thank-you.active h3:nth-child(4) {
  animation-delay: 288ms;
}
#hta-thank-you.active h2:nth-child(5), #hta-thank-you.active h3:nth-child(5) {
  animation-delay: 360ms;
}
#hta-thank-you.active h2:nth-child(6), #hta-thank-you.active h3:nth-child(6) {
  animation-delay: 432ms;
}
#hta-thank-you.active h2:nth-child(7), #hta-thank-you.active h3:nth-child(7) {
  animation-delay: 504ms;
}
#hta-thank-you.active h2:nth-child(8), #hta-thank-you.active h3:nth-child(8) {
  animation-delay: 576ms;
}
#hta-thank-you.active h2:nth-child(9), #hta-thank-you.active h3:nth-child(9) {
  animation-delay: 648ms;
}
#hta-thank-you.active h2:nth-child(10), #hta-thank-you.active h3:nth-child(10) {
  animation-delay: 720ms;
}
#hta-thank-you.active h2:nth-child(11), #hta-thank-you.active h3:nth-child(11) {
  animation-delay: 792ms;
}
#hta-thank-you.active h2:nth-child(12), #hta-thank-you.active h3:nth-child(12) {
  animation-delay: 864ms;
}
#hta-thank-you.active h2:nth-child(13), #hta-thank-you.active h3:nth-child(13) {
  animation-delay: 936ms;
}
#hta-thank-you.active h2:nth-child(14), #hta-thank-you.active h3:nth-child(14) {
  animation-delay: 1008ms;
}
#hta-thank-you.active h2:nth-child(15), #hta-thank-you.active h3:nth-child(15) {
  animation-delay: 1080ms;
}
#hta-thank-you.active h2:nth-child(16), #hta-thank-you.active h3:nth-child(16) {
  animation-delay: 1152ms;
}
#hta-thank-you.active h2:nth-child(17), #hta-thank-you.active h3:nth-child(17) {
  animation-delay: 1224ms;
}
#hta-thank-you.active h2:nth-child(18), #hta-thank-you.active h3:nth-child(18) {
  animation-delay: 1296ms;
}
#hta-thank-you.active h2:nth-child(19), #hta-thank-you.active h3:nth-child(19) {
  animation-delay: 1368ms;
}
#hta-thank-you.active h2:nth-child(20), #hta-thank-you.active h3:nth-child(20) {
  animation-delay: 1440ms;
}

@media (max-width: 1320px) {
  #hta-menu .logo-form {
    left: 20px;
  }
  #hta-menu .hta-menu_close-btn {
    right: 20px;
  }
}
@media (max-width: 600px) {
  #hta-menu.open {
    height: 100vh;
  }
  #hta-menu .logo-form {
    display: none;
  }
  #hta-menu .hta-menu_close-btn {
    top: 5px;
    right: 10px;
  }
  #hta-menu .nav-wrap {
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
  }
  #hta-menu nav h3 {
    font-size: 28px;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
  }
  #hta-menu nav p {
    font-size: 16px;
  }

  form {
    margin-top: 40px;
  }
  form .field, form .fields {
    margin-top: 2%;
  }
  form .col-1-2 {
    width: 49%;
    margin-right: 2%;
  }
  form .col-1-2:last-child {
    margin-right: 0;
  }
  form input {
    height: 40px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  form textarea {
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  form button.btn-primary {
    height: 40px;
    padding: 0 20px;
    margin-top: 20px;
    border: none;
    background: #cf3d3d;
    font-size: 18px;
  }
}
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background: #111;
  overflow: hidden;
}
.slide.slide-active .hero-copy p, .slide.slide-active .hero-copy h2, .slide.slide-active .hero-copy .btn-play {
  animation-name: navIn;
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.slide.slide-active .hero-copy p:nth-child(1), .slide.slide-active .hero-copy h2:nth-child(1), .slide.slide-active .hero-copy .btn-play:nth-child(1) {
  animation-delay: 72ms;
}
.slide.slide-active .hero-copy p:nth-child(2), .slide.slide-active .hero-copy h2:nth-child(2), .slide.slide-active .hero-copy .btn-play:nth-child(2) {
  animation-delay: 144ms;
}
.slide.slide-active .hero-copy p:nth-child(3), .slide.slide-active .hero-copy h2:nth-child(3), .slide.slide-active .hero-copy .btn-play:nth-child(3) {
  animation-delay: 216ms;
}
.slide.slide-active .hero-copy p:nth-child(4), .slide.slide-active .hero-copy h2:nth-child(4), .slide.slide-active .hero-copy .btn-play:nth-child(4) {
  animation-delay: 288ms;
}
.slide.slide-active .hero-copy p:nth-child(5), .slide.slide-active .hero-copy h2:nth-child(5), .slide.slide-active .hero-copy .btn-play:nth-child(5) {
  animation-delay: 360ms;
}
.slide.slide-active .hero-copy p:nth-child(6), .slide.slide-active .hero-copy h2:nth-child(6), .slide.slide-active .hero-copy .btn-play:nth-child(6) {
  animation-delay: 432ms;
}
.slide.slide-active .hero-copy p:nth-child(7), .slide.slide-active .hero-copy h2:nth-child(7), .slide.slide-active .hero-copy .btn-play:nth-child(7) {
  animation-delay: 504ms;
}
.slide.slide-active .hero-copy p:nth-child(8), .slide.slide-active .hero-copy h2:nth-child(8), .slide.slide-active .hero-copy .btn-play:nth-child(8) {
  animation-delay: 576ms;
}
.slide.slide-active .hero-copy p:nth-child(9), .slide.slide-active .hero-copy h2:nth-child(9), .slide.slide-active .hero-copy .btn-play:nth-child(9) {
  animation-delay: 648ms;
}
.slide.slide-active .hero-copy p:nth-child(10), .slide.slide-active .hero-copy h2:nth-child(10), .slide.slide-active .hero-copy .btn-play:nth-child(10) {
  animation-delay: 720ms;
}
.slide.slide-active .hero-copy p:nth-child(11), .slide.slide-active .hero-copy h2:nth-child(11), .slide.slide-active .hero-copy .btn-play:nth-child(11) {
  animation-delay: 792ms;
}
.slide.slide-active .hero-copy p:nth-child(12), .slide.slide-active .hero-copy h2:nth-child(12), .slide.slide-active .hero-copy .btn-play:nth-child(12) {
  animation-delay: 864ms;
}
.slide.slide-active .hero-copy p:nth-child(13), .slide.slide-active .hero-copy h2:nth-child(13), .slide.slide-active .hero-copy .btn-play:nth-child(13) {
  animation-delay: 936ms;
}
.slide.slide-active .hero-copy p:nth-child(14), .slide.slide-active .hero-copy h2:nth-child(14), .slide.slide-active .hero-copy .btn-play:nth-child(14) {
  animation-delay: 1008ms;
}
.slide.slide-active .hero-copy p:nth-child(15), .slide.slide-active .hero-copy h2:nth-child(15), .slide.slide-active .hero-copy .btn-play:nth-child(15) {
  animation-delay: 1080ms;
}
.slide.slide-active .hero-copy p:nth-child(16), .slide.slide-active .hero-copy h2:nth-child(16), .slide.slide-active .hero-copy .btn-play:nth-child(16) {
  animation-delay: 1152ms;
}
.slide.slide-active .hero-copy p:nth-child(17), .slide.slide-active .hero-copy h2:nth-child(17), .slide.slide-active .hero-copy .btn-play:nth-child(17) {
  animation-delay: 1224ms;
}
.slide.slide-active .hero-copy p:nth-child(18), .slide.slide-active .hero-copy h2:nth-child(18), .slide.slide-active .hero-copy .btn-play:nth-child(18) {
  animation-delay: 1296ms;
}
.slide.slide-active .hero-copy p:nth-child(19), .slide.slide-active .hero-copy h2:nth-child(19), .slide.slide-active .hero-copy .btn-play:nth-child(19) {
  animation-delay: 1368ms;
}
.slide.slide-active .hero-copy p:nth-child(20), .slide.slide-active .hero-copy h2:nth-child(20), .slide.slide-active .hero-copy .btn-play:nth-child(20) {
  animation-delay: 1440ms;
}
.slide video, .slide img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  filter: alpha(opacity=60);
  filter: saturate(50%);
}

.slider_dots {
  position: absolute;
  bottom: 40px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.slider_dots li.dot {
  z-index: 0;
  position: relative;
  display: inline-block;
  margin: 0 10px 0 0;
  font-family: "Roboto Condensed";
  font-size: 18px;
  color: rgba(255, 255, 255, 0.35);
  cursor: pointer;
}
.slider_dots li.dot:last-child {
  margin-right: 0;
}
.slider_dots li.dot .time-line {
  position: relative;
  display: inline-block;
  width: 0;
  height: 1px;
  margin-left: 0px;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
}
.slider_dots li.dot .time-line:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: white;
  will-change: transform;
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.slider_dots li.dot.dot-active {
  color: white;
}
.slider_dots li.dot.dot-active .time-line {
  width: 50px;
  height: 1px;
  margin-left: 10px;
  margin-right: 5px;
}
.slider_dots li.dot.dot-active .time-line:after {
  -webkit-animation: slide-timer 8s linear;
  -moz-animation: slide-timer 8s linear;
  -ms-animation: slide-timer 8s linear;
  -o-animation: slide-timer 8s linear;
  animation: slide-timer 8s linear;
}

@-webkit-keyframes slide-timer {
  0% {
    -moz-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    transform: translate3d(-100%, 0, 0) rotate(0.01deg);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(0, 0, 0) rotate(0.01deg);
    transform: translate3d(0, 0, 0) rotate(0.01deg);
  }
}
@-moz-keyframes slide-timer {
  0% {
    -moz-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    transform: translate3d(-100%, 0, 0) rotate(0.01deg);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(0, 0, 0) rotate(0.01deg);
    transform: translate3d(0, 0, 0) rotate(0.01deg);
  }
}
@-ms-keyframes slide-timer {
  0% {
    -moz-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    transform: translate3d(-100%, 0, 0) rotate(0.01deg);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(0, 0, 0) rotate(0.01deg);
    transform: translate3d(0, 0, 0) rotate(0.01deg);
  }
}
@-o-keyframes slide-timer {
  0% {
    -moz-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    transform: translate3d(-100%, 0, 0) rotate(0.01deg);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(0, 0, 0) rotate(0.01deg);
    transform: translate3d(0, 0, 0) rotate(0.01deg);
  }
}
@keyframes slide-timer {
  0% {
    -moz-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(-100%, 0, 0) rotate(0.01deg);
    transform: translate3d(-100%, 0, 0) rotate(0.01deg);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -o-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0.01deg);
    -webkit-transform: translate3d(0, 0, 0) rotate(0.01deg);
    transform: translate3d(0, 0, 0) rotate(0.01deg);
  }
}
#home-hero {
  position: relative;
  width: 100%;
  height: 95vh;
  background: #172638;
  overflow: hidden;
}
#home-hero .hero-copy {
  z-index: 20;
  position: absolute;
  margin-top: 30px;
  text-align: center;
  color: white;
  padding: 0 40px;
}
#home-hero .hero-copy h1 {
  font-size: 95px;
  line-height: 1.2;
  letter-spacing: -2.5px;
}
#home-hero .hero-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#home-hero .hero-slider .hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#home-hero .hero-slider .hero-slide.is-selected img {
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
#home-hero video, #home-hero img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
}
#home-hero .flickity-viewport {
  height: calc(100vh - 5vh) !important;
}

.scroll-cue {
  height: 120px;
  position: absolute;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.2px;
  padding-top: 50px;
  margin-top: -120px;
  color: white;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.scroll-cue:after {
  position: absolute;
  content: "";
  display: block;
  bottom: -60px;
  left: 50%;
  width: 1px;
  height: 90px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.6s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.6s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.6s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.scroll-cue.active {
  -moz-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.scroll-cue.active:after {
  height: 0;
}

@media (max-width: 1600px) {
  #home-hero .hero-copy h1 {
    font-size: 80px;
  }
}
@media (max-width: 1320px) {
  #home-hero .hero-copy h1 {
    font-size: 75px;
    letter-spacing: -2px;
  }
}
@media (max-width: 1280px) {
  #home-hero .hero-copy h1 {
    font-size: 60px;
    letter-spacing: -1.5px;
  }
}
@media (max-width: 600px) {
  #home-hero {
    height: calc(100vh - 100px);
  }
  #home-hero .flickity-viewport {
    height: calc(100vh - 100px) !important;
  }
  #home-hero .hero-copy {
    text-align: center;
  }
  #home-hero .hero-copy h1 {
    font-size: 40px;
  }

  .scroll-cue {
    font-size: 17px;
  }
}
/* –––––––––––––––––––––––––––––––––––––––

SERVICES

–––––––––––––––––––––––––––––––––––––––– */
.services .section-heading {
  margin-bottom: 90px;
}

.featured-services {
  margin: 0 auto;
}
.featured-services .row {
  margin-bottom: 20px;
}
.featured-services .row:last-child {
  margin-bottom: 0;
}
.featured-services .col-1-2 {
  position: relative;
  height: calc(50vh - 2.5vh);
  max-height: 440px;
  min-height: 440px;
  background: #172638;
  overflow: hidden;
  cursor: pointer;
}
.featured-services .col-1-2:hover img {
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.featured-services .featured-service .service-label {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.featured-services .featured-service .service-close-btn {
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.featured-services .featured-service .service-close-btn span {
  display: inline-block;
  color: white;
  font-size: 40px;
  font-weight: 300;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.featured-services .featured-service.active .service-close-btn {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}
.featured-services .featured-service.active .service-preview .service-preview_inner-text h4 {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
}
.featured-services .featured-service.active .service-preview img {
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.featured-services .featured-service.active .service-reveal .service-reveal_inner-text h4 {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.featured-services .featured-service.active .service-reveal .service-reveal_inner-text p {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.featured-services .service-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.featured-services .service-preview .service-preview_inner-text {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 60px;
  color: white;
}
.featured-services .service-preview .service-preview_inner-text h4 {
  z-index: 0;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}
.featured-services .service-preview img {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}
.featured-services .service-reveal {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px;
}
.featured-services .service-reveal .service-reveal_inner-text {
  color: white;
}
.featured-services .service-reveal .service-reveal_inner-text h4 {
  z-index: 0;
  font-size: 23px;
  line-height: 1.2;
  letter-spacing: -0.25px;
  margin-bottom: 20px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}
.featured-services .service-reveal .service-reveal_inner-text p {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}

.all-services {
  margin-top: 90px;
}
.all-services h5 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #111;
}
.all-services .all-services_items ul {
  list-style: none;
}
.all-services .all-services_items ul li {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 10px;
}
.all-services .all-services_items ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 1440px) {
  .all-services .all-services_items ul li {
    font-size: 18px;
    margin-bottom: 8px;
  }
}
@media (max-width: 1280px) {
  .services .section-heading {
    margin-bottom: 40px;
  }

  .featured-services .col-1-2 {
    height: calc(50vh - 2.5vh);
    max-height: 360px;
    min-height: 360px;
  }
  .featured-services .service-preview .service-preview_inner-text {
    padding: 40px;
  }
  .featured-services .service-preview .service-preview_inner-text h4 {
    font-size: 25px;
    letter-spacing: -0.25px;
  }
  .featured-services .service-reveal {
    padding: 40px;
  }
  .featured-services .service-reveal .service-reveal_inner-text h4 {
    font-size: 20px;
    letter-spacing: -0.15px;
  }
}
@media (max-width: 750px) {
  .featured-services {
    margin-top: 40px;
  }
  .featured-services .container {
    padding: 0;
  }
  .featured-services .featured-service h4 {
    font-size: 30px;
  }
  .featured-services .featured-service .service-label {
    top: 14px;
    left: 10px;
  }
  .featured-services .featured-service .service-close-btn {
    top: 0px;
    right: 10px;
  }
  .featured-services .row {
    margin-top: 0;
    margin-bottom: 0;
  }
  .featured-services .col-1-2 {
    width: 100%;
    float: none;
    height: 400px;
    max-height: 400px;
    margin-top: 10px;
  }
  .featured-services .service-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
  }
  .featured-services .service-info h5 {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
