/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* –––––––––––––––––––––––––––––––––––––––––––

HELPERS

––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clear{
  clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-v{
    display:flex;
    align-items:center;
}
.flex-h{
    display:flex;
    justify-content:center;
}
.flex-all{
    display:flex;
    align-items:center;
    justify-content:center;
}
.flex-right{
  display:flex;
  align-content:flex-end;
}
.flex-between{
  display:flex;
  justify-content: space-between;
}
.col-1-2{
  width:calc(50% - 10px);
  float:left;
  margin-right:20px;
  &:last-child{
    margin-right:0;
  }
  img{
    display:block;
    width:100%;
    height:auto;
  }
  &.align-right{
    float:right;
  }
}
.col-1-3{
  width:33.333333%;
  float:left;
  img{
    display:block;
    width:100%;
    height:auto;
  }
}
.col-1-5{
  width:19.2%;
  float:left;
  margin-right:1%;
  &:last-child{
    margin-right:0;
  }
  img{
    display:block;
    width:100%;
    height:auto;
  }
}
.col-1-6{
  width:15.8333333%;
  float:left;
  margin-right:1%;
  &:last-child{
    margin-right:0;
  }
  img{
    display:block;
    width:100%;
    height:auto;
  }
}
.container{
  position:relative;
  width:100%;
  max-width:1320px;
  margin:0 auto;
}
.container-large{
  position:relative;
  width:100%;
  max-width:1320px;
  margin:0 auto;
}
.container-tiny{
  position:relative;
  width:100%;
  max-width:720px;
  margin:0 auto;
}
.container-med{
  position:relative;
  width:100%;
  max-width:1200px;
  margin:0 auto;
}
.container-small{
  position:relative;
  width:100%;
  max-width:800px;
  margin:0 auto;
}

.container-form{
  position:relative;
  width:100%;
  max-width:600px;
  margin:0 auto;
}
.text-group{
  padding:0;
}
main{
  overflow-x:hidden;
}
section.section{
  position:relative;
  padding:120px 20px;
  border-top:1px solid rgba(0,0,0,0.2);
  &:first-of-type{
    border-top:none;
  }
  &.dark{
    background:$blue_dark;
  }
}
section.section-group{
  margin-top:20px;
  &:first-child{
    margin-top:0;
  }
  h4{
    margin-bottom:20px;
  }
  h4.section-group_heading{
    margin-bottom:5px;
  }
  p{
    margin-bottom:20px;
    &:last-child{
      margin-bottom:0;
    }
  }
}
.section-heading{
  margin-bottom:60px;
  h2, h3{
    color:$blue;
  }
  &.dark{
    .section-label{
      color:rgba(255,255,255,0.4);
      &:before{
        background:rgba(255,255,255,0.4);
      }
    }
    h3{
      color:white;
    }
  }
  .section-label{
    position:relative;
    display:inline-block;
    text-transform:uppercase;
    font-size:14px;
    font-weight:500;
    text-indent:40px;
    margin-bottom:15px;
    color:$secondary;
    &:before{
      content: "";
      display:block;
      position:absolute;
      width:30px;
      height:1px;
      top:50%;
      left:0;
      background:$secondary;
      //@include opacity(0.7);
    }
  }
}
.center_content{
  text-align:center;
}
.no-select {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* –––––––––––––––––––––––––––––––––––––––––––

TYPOGRAPHY

––––––––––––––––––––––––––––––––––––––––––– */
h1,h2,h3,h4,h5, strong{
  font-weight:500;
}
h2{
  font-size:70px;
  line-height:1.1;
  letter-spacing:-2px;
}
h3{
  font-size: 55px;
  line-height:1.1;
  letter-spacing:-1.5px;
}
h4{
  font-size: 20px;
  line-height:1.4;
  letter-spacing:-0px;
}
p{
  font-size:17px;
  line-height:1.6;
}
.p-group{
  p{
    margin-top:20px;
    &:first-child{
      margin-top:0;
    }
  }
}
a{
    text-decoration:none;
}

/* –––––––––––––––––––––––––––––––––––––––––

GLOBAL STYLES

––––––––––––––––––––––––––––––––––––––––– */
html,body{
  height:100%;
  -webkit-font-smoothing:antialiased;
  text-rendering: optimizeLegibility;
  font-family:"Roboto", sans-serif;
  color:$primary;
  background:white;
  //min-width:1068px;
  &.no-scroll{
    overflow:hidden;
  }
}

/* –––––––––––––––––––––––––––––––––––––––

HEADER

–––––––––––––––––––––––––––––––––––––––– */
header{
  z-index:9999;
  position:fixed;
  top:0px;
  width:100%;
  //min-width:1068px;
  height:80px;
  background:white;
  box-shadow:0 1px 6px 0 rgba(0,0,0,0.15);
  @include transition(transform 0.6s $easeOutExpo);
  will-change:transform;
  &.hide{
    @include transform(translateY(-80px));
  }
  .container-large{
    height:80px;
  }
  #nav{
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:100%;
    height:80px;
    text-align:right;
    ul{
      height:100%;
    }
    li{
      position:relative;
      display:inline-block;
      margin-right:50px;
      font-size:17px;
      font-weight:500;
      letter-spacing:-0.25px;
      cursor:pointer;
      &:last-child{
        margin-right:0;
      }
      a{
        color:$primary;
        @include transition(color 0.6s $easeOutExpo);
        &:hover{
          color:$red;
        }
      }
      &.active, &.clicked{
        a{
          color:$red;
        }
      }
      &.logo-header{
        position:absolute;
        top:0;
        left:0;
        img{
          display:block;
          margin-top:20px;
        }
      }
      button.menu-btn{
        margin-right:0;
        cursor:pointer;
        position:relative;
        height:80px;
        width:140px;
        text-align:center;
        background:$red;
        font-family:"Roboto", sans-serif;
        font-size:18px;
        font-weight:900;
        letter-spacing:-0.25px;
        color:white;
        border:none;
        -webkit-appearance:none;
        @include transition(background 0.8s $easeOutExpo);
        &:focus{
          outline:none;
        }
        &:hover{
          .menu-btn-bg{
            background:darken(#cf3d3d , 5%);
          }
        }
      }
    }
  }
  #mobile-nav{
    display:none;
    width:100%;
    height:80px;
    ul{
      height:100%;
    }
    li{
      position:relative;
      display:inline-block;
      height:80px;
      font-size:18px;
      line-height:80px;
      font-weight:500;
      color:$primary;
      letter-spacing:-0.25px;
      cursor:pointer;
      a{
        color:$primary;
        @include transition(color 0.6s $easeOutExpo);
        &:hover{
          color:$blue;
        }
      }
      &.active, &.clicked{
        a{
          color:$blue;
        }
      }
    }
    .logo-header{
      margin-top:22px;
    }
  }
}


button.menu-btn_tiny{
  margin-right:0;
  cursor:pointer;
  position:relative;
  height:40px;
  width:70px;
  text-align:center;
  background:$red;
  font-family:"Roboto", sans-serif;
  font-size:15px;
  font-weight:900;
  letter-spacing:-0.15px;
  color:white;
  border:none;
  -webkit-appearance:none;
  @include transition(background 0.8s $easeOutExpo);
  &:focus{
    outline:none;
  }
  &:hover{
    .menu-btn-bg{
      background:darken(#cf3d3d , 5%);
    }
  }
}

/* –––––––––––––––––––––––––––––––––––––––

ABOUT

–––––––––––––––––––––––––––––––––––––––– */
.about.section{
  .section-heading{
    border-bottom:1px solid #ddd;
    padding-bottom:60px;
  }
  .col-1-2{
    &:first-child{
      padding-right:30px;
    }
    &:last-child{
      margin-top:5px;
    }
  }
}

.process{
  position:relative;
  width:100%;
  max-width:450px;
  margin:30px auto 0 auto;
  img{
    display:block;
    width:100%;
    height:auto;
    @include opacity(0.8);
  }
  .process-col{
    width:50%;
    float:left;
    margin:0;
    &:first-child{
      padding-right:20px;
      .process-thumb{
        background:$blue_dark;
        overflow:hidden;
        &:nth-child(1){
          width:50%;
          @include transform(translateX(0));
          margin-left:50%;
          margin-top:-20px;
        }
        &:nth-child(2){
          margin-top:20px;
          
        }
      }
    }
    &:last-child{
      padding-right:0 !important;
      .process-thumb{
        background:$blue_dark;
        overflow:hidden;
        &:nth-child(1){
          
        }
        &:nth-child(2){
          width:60%;
          @include transform(translateX(0));
          margin-top:20px;
        }
      }
    }
  }
}

/* –––––––––––––––––––––––––––––––––––––––

WORK

–––––––––––––––––––––––––––––––––––––––– */
.work{
  position:relative;
  width:100%;
  background:$primary;
  color:white;
  border-color:rgba(255,255,255,0.1);
  .col-1-2{
    position:relative;
  }
  .work-copy{
    width:35%;
    margin-right:6%;
  }
  .work-slider{
    width:65%;
    background:$primary;
    .work-slide{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      &.is-selected{
        img{
          @include transform(scale(1.05));
        }
        .work-slide_label{
          @include opacity(1);
          @include transform(translateY(0));
        }
      }
    }
  }
  .work-slide_image{
    overflow:hidden;
  }
  .work-slide_label{
    z-index:2;
    position:absolute;
    bottom:40px;
    left:40px;
    @include opacity(0);
    @include transform(translateY(40px));
    @include transition(all 0.8s $easeOutExpo);
    h4{
      font-size:15px;
      font-weight:500;
      color:rgba(255,255,255,0.6);
    }
    &.light{
      h4{
        color:rgba(0,0,0,0.6);
      }
    }
  }
  video, img{
    display:block;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    will-change: transform;
    //@include opacity(0.9);
    @include transition(transform 2s $easeOutExpo);
  }
}

/* –––––––––––––––––––––––––––––––––––––––

OUR STORY

–––––––––––––––––––––––––––––––––––––––– */
.our-story{
  .section-heading{
    margin-bottom: 90px;
  }
  .col-1-2{
    &:first-child{
      padding-right:30px
    }
  }
  .history-group{
    position:relative;
    margin-bottom:100px;
    .thumb{
      z-index:0;
      position:relative;
      margin-right:20px;
      &:nth-child(1){ 
        margin-top:-20px; 
      }
      &:nth-child(2){
        z-index:2; 
        width:10%;
        position:absolute;
        bottom:10%;
        @include transform(translateY(-50%));
        left:20%; 
      }
      &:nth-child(3){}
      &:nth-child(4){
        z-index:2; 
        width:15%;
        position:absolute;
        bottom:-20px;
        right:17%;  
      }
      &:nth-child(5){ margin-top:-20px; }
      &:nth-child(6){ 
        margin-top:7%;
        margin-right:0;
      }
      img{
        display:block;
        width:100%;
        height:auto;
      }
    }
    .history-timeline{
      z-index:4;
      position:absolute;
      bottom:20%;
      width:80%;
      left:50%;
      margin-left:-40%;
      height:1px;
      background:rgba(0,0,0,0.3);
      .beginning{
        position:absolute;
        left:-45px;
        font-size:14px;
        font-weight:500;
        color:$secondary;
      }
      .end{
        position:absolute;
        right:-45px;
        font-size:14px;
        font-weight:500;
        color:$secondary;
      }
      .time-markers{
        width:100%;
        span{
          display:block;
          width:1px;
          height:11px;
          background:#aaa;
        }
      }
    }
  }
}

/* –––––––––––––––––––––––––––––––––––––––

FOOTER

–––––––––––––––––––––––––––––––––––––––– */
footer{
   position:relative;
   height:100vh;
   background-color:$blue_dark;
   color:white;
   .footer-wrap{
    width:100%;
    margin-top:60px;
   }
   .footer-nav{
    
   }
   a{
    color:white;
   }
   h2{
    font-size: 70px;
    line-height:1.2;
    letter-spacing:min(max(0px, 4vw), -2px);
    margin-bottom:60px;
    color:white;
   }
   h5{
    text-transform:uppercase;
    font-size:14px;
    color:$secondary;
    margin-bottom:20px;
    font-weight:500;
   }
   li, span{
    display:block;
    font-size:18px;
    line-height:1.4;
    margin-bottom:10px;
   }
   .copyright{
    position:absolute;
    width:100%;
    bottom:30px;
    span{
      font-size:14px;
      color:$secondary;
    }
   }
}

@media(max-width:1440px){

  .container-large{
    max-width:100%;
  }
  .logo-header{
    margin-left:20px;
  }
  
}

@media(max-width:1320px){
  .container{
    max-width:1280px;
  }
  h2{
    font-size:60px;
    letter-spacing:-1.5px;
  }
  section.section{
    padding:120px 20px;
  }
  footer{
    h2{
      font-size: 55px;
      letter-spacing:-1px;
    }
    li, span{
      font-size:18px;
      margin-bottom:8px;
    }
  }

}

@media(max-width:1280px){
  .container, .container-med{
    max-width:960px;
  }
  .container-small{
    max-width:700px;
  }
  .container-tiny{
    max-width:600px;
  }
  h2{
    font-size:50px;
    letter-spacing:-1px;
  }
  h3{
    font-size: 45px;
    letter-spacing:-0.75px;
  }
  h4{
    font-size: 18px;
    letter-spacing:0px;
  }
  .about-content{
    .col-1-2{
      &:first-child{
        padding-right:30px
      }
    }
  }
  .process{
    margin:35px auto 40px auto;
  }
  .section-heading{
    margin-bottom:40px;
    &.dark{
      .section-label{
        color:rgba(255,255,255,0.4);
        &:before{
          background:rgba(255,255,255,0.4);
        }
      }
    }
  }
  section.section-group{
    margin-top:30px;
    &:first-child{
      margin-top:0;
    }
    h4.section-group_heading{
      margin-bottom:15px;
    }
    p{
      margin-bottom:15px;
      &:last-child{
        margin-bottom:0;
      }
    }
  }
  .work-slide_label{
    bottom:30px;
    left:30px;
  }
  .about.section{
    .section-heading{
      padding-bottom:40px;
    }
  }
}

@media(max-width:1120px){
  section.section{
    padding:90px 20px;
  }
  .about.section{
    .container-med{
      max-width:600px;
    }
    .section-heading{
      h3{
        max-width:400px;
        margin-bottom:40px;
      }
    }
    .col-1-2{
      width:100%;
      float:none;
      &:first-child{
        padding-right:0;
      }
      &:last-child{
        margin-top:0;
      }
    }
  }
}

@media(max-width:800px){
  section.section{
    padding:60px 15px;
  }
  header{
    #nav{
      li{
        display:none;
        &:first-child, &:last-child{
          display:block;
        }
      }
    }
  }
}

@media(max-width:600px){
  .container, .container-tiny, .container-small, .container-large, .container-med, .container-form{
    padding:0 0px;
  }
  h3{
    font-size:30px;
    margin-bottom:30px;
  }
  p{
    font-size:17px;
  }
  section{
    padding:0;
  }
  .section-headng{
    .section-label{
      font-size:14px;
    }
  }
  
  .all-services{
    margin-top:40px;
    .all-services_items{
      display:inline-block;
      ul{
        list-style:none;
        margin-bottom:10px;
        &:last-of-type{
          margin-bottom:0;
        }
        li{
          position:relative;
          font-size:18px;
          line-height:1.4;
          margin-bottom:15px;
          &:last-child{
            margin-bottom:0;
          }
        }
      }
    }
  }
  .team{
    padding:60px 0;
    .team-members{
      margin-top:30px;
    }
    .col-1-6{
      width:48%;
      margin:2% 1%;
      &:last-child{
        margin:2% 1%;
      }
    }
    .team-member_info{
      margin-top:6px;
      span{
        font-size:18px;
      }
      .title{
        font-size:14px;
      }
    }
  }
  .work{
    height:auto;
    background:$primary;
    color:white;
    border-color:rgba(255,255,255,0.1);
    .work-section, .container{
      display:block;
    }
    .col-1-2{
      float:none;
    }
    .work-copy{
      width:100%;
      margin-right:0;
      h3{
        //text-align:center;
      }
    }
    .work-slider{
      width:100%;
      background:$primary;
      margin-top:50px;
    }
    .work-slide_label{
      bottom:15px;
      left:20px;
      font-size:14px;
    }
  }
  footer{
    display:block;
     height:auto;
     color:white;
     padding:0 15px;
     .center_content{
      text-align:left;
     }
     .footer-wrap{
      width:100%;
      margin-top:0;
      padding:90px 0 120px 0;
     }
     .footer-nav{
      display:block;
      div{
        //width:200px;
        margin-top:30px;
      }
     }
     h2{
      font-size: 35px;
      letter-spacing:-1.5px;
      margin-bottom:40px;
     }
     h5{
      font-size:14px;
      margin-bottom:10px;
     }
     li, span{
      font-size:16px;
      margin-bottom:5px;
     }
     .copyright{
      text-align:left;
     }
  }
}

@media(max-width:500px){
  p{
    font-size:17px;
    line-height:1.4;
  }
  header{
    #nav{
      li{
        button.menu-btn{
          width:auto;
          padding:0 20px;
        }
      }
    }
  }
  .section-heading{
    h3{
      max-width:320px;
    }
  }
  .logo-header{
    margin-left:15px;
  }
  .about.section{
    padding-top:90px;
    .section-heading{
      border-bottom:none;
      margin-bottom:0;
      h3{
        margin-bottom:40px;
      }
    }
    .col-1-2{
      &:first-child{
        padding-right:0;
      }
      &:last-child{
        margin-top:0;
      }
    }
  }
  .process{
    margin:20px auto 40px auto;
    .process-col{
      &:first-child{
        padding-right:10px;
        .process-thumb{
          &:nth-child(1){
            width:60%;
            margin-left:40%;
            margin-top:-15px;
          }
          &:nth-child(2){
            margin-top:10px;
          }
        }
      }
      &:last-child{
        .process-thumb{
          &:nth-child(2){
            margin-top:10px;
          }
        }
      }
    }
  }
  .work{
    .section-heading{
      h3{
        max-width:250px;
      }
    }
  }
  .text-group{
    padding:0 20px;
  }
  .our-story{
    .section-heading{
      margin-bottom: 70px;
    }
    .col-1-2{
      &:first-child{
        padding-right:30px
      }
    }
    .history-group{
      margin-bottom:90px;
      .thumb{
        margin-right:10px;
        &:nth-child(1){ 
          margin-top:-20px; 
          width:60%;
        }
        &:nth-child(2){
          z-index:2; 
          width:20%;
          position:absolute;
          bottom:-62%;
          @include transform(translateY(-50%));
          left:28%; 
        }
        &:nth-child(3){
          width:75%;
        }
        &:nth-child(4){
          z-index:2; 
          width:18%;
          position:absolute;
          bottom:7%;
          right:-10px;  
        }
        &:nth-child(5){ margin-top:-20px; display:none; }
        &:nth-child(6){ 
          margin-top:-20px;
          margin-right:0;
          width:20%;
        }
        img{
          display:block;
          width:100%;
          height:auto;
        }
      }
      .history-timeline{
        bottom:-15px;
        .time-markers{
          span{
            height:9px;
          }
        }
      }
    }
  }
}



