/* ––––––––––––––––––––––––––––––––––––––––

HTA MENU

–––––––––––––––––––––––––––––––––––––––– */
#hta-menu{
  z-index:888;
  position:fixed;
  top:0;
  right:0;
  background:$primary;
  width:100%;
  height:0;
  overflow-x:hidden;
  overflow-y:scroll;
  &.open{
    height:100vh;
    .hta-menu_close-btn{
      @include opacity(0.6);
      @include transform(scale(1));
    }
    .logo-form{
      @include opacity(1);
      @include transform(scale(1));
    }
  }
  .logo-form{
    z-index:2;
    position:absolute;
    top:30px;
    left:30px;
    @include opacity(0);
    @include transform(scale(0));
    @include transition(all 0.6s $easeOutExpo);
  }
  .hta-menu_close-btn{
    z-index:2;
    position:absolute;
    top:15px;
    right:30px;
    cursor:pointer;
    span{
      display:block;
      color:white;
      font-size:60px;
      font-weight:300;
      @include transform(rotate(45deg));
    }
    @include opacity(0);
    @include transform(scale(0));
    @include transition(all 0.6s $easeOutExpo);
  }
  .nav-wrap{
    z-index:0;
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    height:100%;
    width:100%;
  }
  nav{
    display:none;
    width:100%;
    text-align:center;
    &.active{
      display:block;
      div{
        animation-name: navIn;
        animation-duration: 800ms;
        animation-fill-mode: both;
        animation-timing-function: $easeOutExpo;
        @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            animation-delay: 72ms * $i;
          }
        }
      }
    }
    .nav-item{
      position:relative;
      display:block;
      color:white;
      margin:10px 0;
      cursor:pointer;
      will-change:transform;
      @include opacity(0);
      @include transform(translateY(100px));
      @include transition(color 0.6s $easeOutExpo);
    }
    h3{
      font-size: min(max(30px, 4vw), 50px);
      line-height:1.2;
      letter-spacing:min(max(0px, 4vw), -2px);
      margin-bottom:60px;
    }
    p{
      font-size:20px;
    }
  }
}

@keyframes navIn {
  0% {
    opacity: 0;
    @include transform( translateY(200px) rotate(0.01deg) );
  }
  100% {
    opacity: 1;
    @include transform( translateY(0) rotate(0.01deg) );
  } 
}


form{
  margin-top:40px;
  .field, .fields{
    margin-top:2%;
  }
  .col-1-2{
    width:49%;
    margin-right:2%;
    &:last-child{
      margin-right:0;
    }
  }
  input{
    display:block;
    width:100%;
    height:50px;
    padding:0 15px;
    border:1px solid rgba(255,255,255,0.1);
    background:rgba(255,255,255,0);
    color:white;
    font-size:18px;
    @include transition(border-color 0.8s $easeOutExpo);
    &:focus{
      border-color:rgba(255,255,255,0.6);
      outline:none;
    }
  }
  textarea{
    display:block;
    width:100%;
    height:150px;
    resize:none;
    padding:15px;
    border:1px solid rgba(255,255,255,0.1);
    background:rgba(255,255,255,0);
    color:white;
    font-size:18px;
    @include transition(border-color 0.8s $easeOutExpo);
    &:focus{
      border-color:rgba(255,255,255,0.6);
      outline:none;
    }
  }
  button.btn-primary{
      display:block;
      width:100%;
      height:60px;
      padding:0 20px;
      margin-top:30px;
      border:none;
      background:$red;
      font-size:20px;
      font-weight:700;
      color:white;
      cursor:pointer;
      @include transition(background 0.8s $easeOutExpo);
      &:hover{
        background:darken($red, 5%);
      }
  }
  input, textarea{
    font-family:"Roboto";
    ::-webkit-input-placeholder { 
      color:$secondary;
    }
    ::-moz-placeholder { 
      color:$secondary;
    }
    :-ms-input-placeholder { 
      color:$secondary;
    }
    :-moz-placeholder { 
      color:$secondary;
    }
  }
}


#hta-thank-you{
  z-index:0;
  position:absolute;
  display:none;
  align-items: center;
  justify-content: center;
  top:0;
  left:0;
  height:100%;
  width:100%;
  color:white;
  text-align:center;
  h2, h3{
    font-size: min(max(30px, 4vw), 50px);
    line-height:1.2;
    letter-spacing:min(max(0px, 4vw), -2px);
    margin-bottom:0;
  }
  &.active{ 
    display:flex;
    h2, h3{
      animation-name: navIn;
      animation-duration: 800ms;
      animation-fill-mode: both;
      animation-timing-function: $easeOutExpo;
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: 72ms * $i;
        }
      }
    }
  }
}


@media(max-width:480px){
  #hta-menu{
    &.open{
      height:100vh;
    }
    .logo-form{
      top:22px;
      left:15px;
    }
    .hta-menu_close-btn{
      top:5px;
      right:10px;
    }
    .nav-wrap{
      display:flex;
      top:0;
      left:0;
      height:100%;
    }
    nav{
      h3{
        font-size:28px;
        letter-spacing:-1.5px;
        margin-bottom:20px;
      }
      p{
        font-size:16px;
      }
    }
  }
  form{
    margin-top:40px;
    .field, .fields{
      margin-top:2%;
    }
    .col-1-2{
      width:49%;
      margin-right:2%;
      &:last-child{
        margin-right:0;
      }
    }
    input{
      height:40px;
      font-size:16px;
      border:1px solid rgba(255,255,255,0.2);
    }
    textarea{
      font-size:16px;
      border:1px solid rgba(255,255,255,0.2);
    }
    button.btn-primary{
      height:40px;
      padding:0 20px;
      margin-top:20px;
      border:none;
      background:$red;
      font-size:18px;
    }
  }
}
