$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

$primary:#111;
$secondary:#888;
$red:#cf3d3d; 
$blue:#111;//053a7d 
$blue_light:#9cacfd;
$blue_dark:#172638;
