$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

$primary:#1b2026;//1b2026 
$secondary:#808284;
$red:#cf3d3d; 

